En el repositorio encontrará la información relacionada con hospedajes registrados en Airbnb en la ciudad de Berlín, Alemania. Examine, depure y si es pertinente unifique algunas de las fuentes de información contenida en dicho repositorio para darle solución a las siguientes tareas:

In [46]:
import numpy as np # Para operaciones matriciales
import pandas as pd # Para leer csv y procesar datos
import matplotlib.pyplot as plt # Para visualizar datos

In [47]:
dataset = pd.read_csv('listings.csv')
dataset.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2015,Berlin-Mitte Value! Quiet courtyard/very central,2217,Ian,Mitte,Brunnenstr. Süd,52.534537,13.402557,Entire home/apt,60,4,118,2018-10-28,3.76,4,141
1,2695,Prenzlauer Berg close to Mauerpark,2986,Michael,Pankow,Prenzlauer Berg Nordwest,52.548513,13.404553,Private room,17,2,6,2018-10-01,1.42,1,0
2,3176,Fabulous Flat in great Location,3718,Britta,Pankow,Prenzlauer Berg Südwest,52.534996,13.417579,Entire home/apt,90,62,143,2017-03-20,1.25,1,220
3,3309,BerlinSpot Schöneberg near KaDeWe,4108,Jana,Tempelhof - Schöneberg,Schöneberg-Nord,52.498855,13.349065,Private room,26,5,25,2018-08-16,0.39,1,297
4,7071,BrightRoom with sunny greenview!,17391,Bright,Pankow,Helmholtzplatz,52.543157,13.415091,Private room,42,2,197,2018-11-04,1.75,1,26

In [48]:
selected_features = ["neighbourhood","room_type", "number_of_reviews",
                     "calculated_host_listings_count",
                     "availability_365","longitude","latitude","price"]
dataset = dataset[selected_features]
dataset.head(5)
datasetnum = dataset.drop(['neighbourhood', 'room_type'], axis =1)

,neighbourhood,room_type,number_of_reviews,calculated_host_listings_count,availability_365,longitude,latitude,price
0,Brunnenstr. Süd,Entire home/apt,118,4,141,13.402557,52.534537,60
1,Prenzlauer Berg Nordwest,Private room,6,1,0,13.404553,52.548513,17
2,Prenzlauer Berg Südwest,Entire home/apt,143,1,220,13.417579,52.534996,90
3,Schöneberg-Nord,Private room,25,1,297,13.349065,52.498855,26
4,Helmholtzplatz,Private room,197,1,26,13.415091,52.543157,42

In [51]:
# funcion para detectar outliers
def detect_outlier(dataset):
    feature_outliers=[]
    threshold=7
    mean_1 = np.mean(dataset)
    std_1 =np.std(dataset)
    
    counter=0
    for y in data_1:
        z_score= (y - mean_1)/std_1 
        if np.abs(z_score) > threshold:
            feature_outliers.append(counter)
        counter += 1
    return feature_outliers

In [54]:
#split data test and train
from sklearn.model_selection import train_test_split

X = clean_data.drop(["price"],axis=1)
y = clean_data["price"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.10,random_state=42)

ModuleNotFoundError: No module named 'sklearn'

SyntaxError: invalid syntax (<ipython-input-53-e8e4cf8cf43e>, line 2)